@using Philopedia.Common
@model Philopedia.Web.ViewModels.Home.CategoriesListViewModel
@{
    this.ViewData["Title"] = $"Welcome to {GlobalConstants.SystemName}!";
}

<div class="text-center m-2">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <a asp-controller="Posts" asp-action="Create" class="btn btn-primary btn-lg">Create new forum post</a>
</div>

<div class="row">

    @foreach (var category in this.Model.Categories)
    {
        <div class="card col-md-4 border-primary">
            <img class="card-img-top" src="@category.ImageUrl" alt="@category.Name">
            <div class="card-body">
                <a asp-controller="Categories" asp-action="ByName"asp-route-name="@category.Name"> <h3> @category.Name (@category.Posts.Count)</h3></a>
                <p class="text-truncate">@category.Description</p>
            </div>
        </div>
    }
</div>

<hr />
<partial name="_PagingPartial" model="@Model" />


